.github
.idea
.ipynb_checkpoints
.pytest_cache
.~
benchmark/
build/  
core/
dist/
docs/
Executable/
Images/
node_modules/
Notebook/
tests/
venv/
.env
.gitattributes
.gitignore
gui-main.py
installCheck.py
LICENSE
main.py
package-lock.json
package.json
pyproject.toml
README.md
setup.cfg