ul{
    margin:0;
}

.graph-probDist-stat-dynamic-wrapper{
    display:grid;
    grid-template-rows: 55% 45%;
    width:100%;
    height:100%;
    gap:0px;
}

.graph-probdist-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    /*flex-direction: line;*/
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    height:100%;
    padding: 0px;
    gap: 10px;
}

.graph-wrapper{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    gap:0px;
    height: 100%;
    width:100%;
    justify-items: center;
    align-items: center;
    justify-items: center;

}

.probDist-wrapper {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    gap:0px;
    height: 100%;
    width:100%;
    justify-items: center;
    align-items: center;
    justify-items: center;
    align-items: start;
    align-content: start;
}

.stats-dynamic-wrapper {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 15% 85%;
    justify-items: center;
    align-items: start;
    /*gap:10px;*/
}