.input-row {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50%;
}

.input-fields {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 100%;
    gap:10px;
    padding: 0px;
}

.graph-input-combo-right,
.probDist-input-combo-right {
    display: grid;
    grid-template-columns:80% 20%;
    grid-template-rows: 100%;
    gap:2px;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.probDist-input-combo-left {
    display: grid;
    grid-template-columns:20% 80%;
    grid-template-rows: 100%;
    gap:2px;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.input-combo .myGraphInputBox{
    width:100%;
    border: solid;
    border-width: 1px;

}

.input-combo .myProbDistInputBox{
    width: 100%;
    border: solid;
    border-width: 1px;
}

.stat-list-combo {
    display: grid;
    grid-template-columns:60% 40%;
    grid-template-rows: 100%;
    color: var(--primary-white);
    font-weight: bolder;
    text-align: justify;
    justify-items: center;
    align-items: center;
}

.stat-list-combo .myStatInputBox{
    width:100%;

    border: solid;
    border-width: 1px;
    /*border:solid red 1px;*/
}

.stat-list-combo .myStatText {
    width:100%;
    /*border:solid red 1px;*/
}

.stat-list-combo-input {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 10% 90%;
    color: var(--primary-white);
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.stat-list-combo-input .myHeaderStatText {
    width:100%;
    /*border:solid red 1px;*/
    vertical-align: center;
    text-align: center;
    justify-content: center;
}

.stat-with-input {
    display: grid;
    grid-template-columns:14% 14% 14% 14% 14% 14% 14%;
    grid-template-rows: 100%;
    justify-items: auto;
    align-items: center;
    color: var(--primary-white);
    font-weight: bold;
}

.stat-with-input-dyn {
    display: grid;
    grid-template-columns: 10% 26.66% 10% 26.66% 26.66%;
    grid-template-rows: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: var(--primary-white);
    font-weight: bold;
}

.stat-with-input .myStatText {
    width:100%;
    /*border:solid red 1px;*/
    vertical-align: center;
    text-align: center;
    justify-content: center;
}

.stat-with-input-dyn .myStatText {
    width:100%;
    font-size: 12px;
    /*border:solid red 1px;*/
    vertical-align: center;
    text-align: center;
    justify-content: center;
}

.stat-with-input .myStatInputBox {
    width:100%;
    border: solid;
    border-width: 3px;
    /*border:solid red 1px;*/
}

.stat-with-input-dyn .myStatInputBox {
    width:80%;
    height:90%;
    border: solid;
    border-width: 3px;
    /*border:solid red 1px;*/
}

.my-form{
    display:flex;
    width:100%;
    margin:auto;
    margin-left: 5%;
    margin-right:auto;
    justify-items: center;
    align-items: center;
    text-align: center;
}