.myTab{
    /*display: grid;*/
    /*grid-template-columns: 50% 50%;*/
    /*grid-template-rows: 100%;*/
    overflow: hidden;
    background-color: #312450;
    align-items: center;
    justify-items: center;
}

.myStatTab{
    height: 100%;
    width: 50%;
    overflow: hidden;
    background-color: #312450;
    align-items: center;
    justify-items: center;
}

/* Style the buttons inside the tab */
.myTab button{
    background-color: inherit;
    float: left;
    border: solid 1px !important;
    border-color: rgb(252, 237, 206) !important;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
    /*font-size: 17px;*/
    overflow: hidden;
}

.myStatTab button {
    background-color: inherit;
    float: left;
    border: solid 1px !important;
    border-color: rgb(252, 237, 206) !important;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
    /*font-size: 12px;*/
    overflow: hidden;

}

/* Change background color of buttons on hover */
.myTab button:hover{
    background-color: rgb(63, 5, 124);
}

/* Create an active/current tablink class */
.myTab button.active{
    background-color: #0263f3;
}

/* Change background color of buttons on hover */
.myStatTab button:hover{
    background-color: rgb(63, 5, 124);
}

/* Create an active/current tablink class */
.myStatTab button.active{
    background-color: #0263f3;
}


/* Style the tab content */
.tabcontent{
    /*display: none;*/
    /*padding: 6px 12px;*/
    /*border: 1px solid var(--primary-white);*/
    /*border-top: none;*/
    animation: fadeEffect 1s;
    width:100%;
}

.grid-element{
    display: grid;
    grid-template-rows: 90% 10%;
    justify-items: center;
    justify-content: center;
}

.grid-element-dyn {
    display: grid;
    width: 100%;
    grid-template-rows: 90% 10%;
    gap: 5px;
    justify-items: center;
    justify-content: center;
}

.stattablinks {
    width: 50%;
}