.myButton{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.37) !important;
    border-radius: 3em;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.myButton.graph{
        width: 40vw;
        font-size: 1.5vh;
}

.myButton.probDist{
        width: 40vw;
        font-size: 1.5vh;
}

.myButton.input{
        width: 20vh;
        font-size: 1.5vh;
}

.myButton.customGraphInput{
        width: 20vh;
        font-size: 1.5vh;
}

.myButton.probDistInput{
        width: 13vh;
        font-size: 1.5vh;
}