.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 1.5vw;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    gap: 1.5vw;
}

.input-combo {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.input-combo .myGraphInputBox{
    width:100%;
    border: solid;
    border-width: 1px;

}

.input-combo .myProbDistInputBox{
    width: 100%;
    border: solid;
    border-width: 1px;
}

.stat-list-combo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--primary-white);
    font-weight: bolder;
    padding:5px;
    gap: 10vw;
    text-align: justify;
    font-size:1.5vw;
}

.stat-list-combo .myStatInputBox{
    width: 30vw;
    height:7vh;
    font-size:1.5vw;
    border: solid;
    border-width: 0.1vh;;
    /*border:solid red 1px;*/
}

.stat-list-combo .myStatText {
    width:30vw;
    height:7vh;
    /*border:solid red 1px;*/
}

.stat-list-combo-input {
    display: flex;
    flex-direction: column;
    color: var(--primary-white);
    font-weight: bolder;
    /*gap: 10px;*/
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    font-size:1.5vw;

}

.stat-list-combo-input .myHeaderStatText {
    display:flex;
    flex-direction: column;
    width:30vw;
    height:7vh;
    /*border:solid red 1px;*/
    vertical-align: center;
    text-align: center;
    justify-content: center;
}

.stat-with-input {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: var(--primary-white);
    font-weight: bold;
}

.stat-with-input .myStatText {
    display:flex;
    flex-direction: column;
    width:7vw;
    height:7vh;
    /*border:solid red 1px;*/
    vertical-align: center;
    text-align: center;
    justify-content: center;
}

.stat-with-input .myStatInputBox {
    width: 13.5vw;
    height:7vh;
    font-size:1.5vw;
    border: solid;
    border-width: 3px;
    /*border:solid red 1px;*/
}