/*#wrapper-static {*/
/*    zoom: 0.8; !* Old IE only *!*/
/*    -moz-transform: scale(0.8);*/
/*    -webkit-transform: scale(0.8);*/
/*    transform: scale(0.8);*/
/*}*/

.stattablinks {
    width: 50%;
}

/* Style the tab */
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.graph-probdist-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    /*flex-direction: line;*/
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    padding: 0px;
    gap: 0px;
}

.grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: 1vh;
}

.set-graph-combo {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width:100%;
}

.set-probDist-combo {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width:100%;
}

.graph-wrapper{
    margin-right: 5vw;
}

.probDist-wrapper {
    margin-right: 5vw;
    margin-top: 5.5vh;
}

.stats-wrapper {
    display:flex;
    flex-direction: column;
    /*border: solid red 1px;*/
    width: 70vw;
    height:70vh;
    /*padding:5px;*/
    margin:0;
}

.stat-list {
    display: flex;
    padding:5px;
    width:100%;
    height:100%;
    flex-direction: column;
    /*border:solid red 1px;*/
    /*margin: 0 0 0em 0;*/
    /*padding-left: 0em;*/
    margin:0;
}

.graph-display {
    background-color: var(--primary-white);
    width: 40vw;
    height: 40vh;
    border-style: double;
    border-color: rgb(12, 14, 116);
    border-width: 5px;
    background-color: rgb(196, 188, 130);
}

.prob-dist-chart-container {
    display: flex;
    background-color: rgb(188, 176, 221);
    width: 40vw;
    height: 40vh;
    border-style: double;
    border-width: 5px;
    padding: 5px;
    border-color: var(--primary-dark);
}

.probDist-display {
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
}

.probDist-animation-wrapper {
    margin-top: 50px;
}

.stats-dynamic-wrapper {
    margin-top: 50px;
}

.graph-probDist-stat-wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    gap:5vh;
    margin:0;
}