<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <script type='module' src="{{ url_for('static',filename='js-qwak/test-script.js') }}"></script>

<body>

<div>
<a>Page for functionality testing.</a>
</div>

<div>
    <button id="testRunWalkBut">RunWalk</button>
    <button id="testGetRunWalkBut">GetRunWalk</button>
</div>

<div>
    <button id="resetBut">reset</button>
    <button id="loadBut">load</button>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.1.1/math.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>