:root {
    --primary-dark: rgb(0, 0, 0);
    --primary-light: rgb(214, 211, 211);
    --secondary-light: #fefefe;
  }

body{
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Courier New', sans-serif;
    line-height: 1.6;
    margin:0;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0;
}

.qwak{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100%;
    min-width: 90%;
    padding: 20px 20px;
    margin: 0 0px;
    border:2px;
    border-style: solid;
    gap:30px;
    background-color: rgb(141, 141, 143);
    border-radius: 7px;
}

.walk-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    gap: 5px;
    padding:0px;
}

.first-half, .second-half{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

.prob-dist-chart-container{
    display:flex;
    background-color: var(--primary-light);
    width:750px;
    height:400px;
    border-style:double;
    border-color: var(--primary-dark);
    border-width: 5px;
    padding:5px;
}

.prob-dist-chart{
    display:flex;
    width: 100%;
    height:100%;
}

.graph-display {
    background-color: var(--primary-light);
    width:750px;
    height:400px;
    border-style: double;
    border-color: var(--primary-dark);
    border-width: 5px;
    padding:5px;
}

.grid-element{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    width:100%;
    height:100%;
    padding:0px;
    margin-top: 10px;
}

.function-button{
    width:50px;
    height:25px;
    background:rgb(198, 205, 221);
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    border-width: 3px;
    font-size: 15px;
    font-weight: bold;
}

.function-button:hover{
    background: rgb(252, 131, 131);
}

.function-button:active{
    background: var(--primary-light);
}

.input-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}
.input-fields{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:0px;
    gap:2px;
}

.input-fields .function-button{
    width:30px;
    font-size: 10px;
    padding:3px;
}

.input-fields .function-button:hover{
    background: rgb(159, 252, 131);
}

.input-fields .function-button:active{
    background: var(--primary-light);
}

.input-combo{
    display:flex;
    gap:4px;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
}

.input-box{
    width:100px;
    height:16px;
    border:solid;
    border-width: 3px;
    border-color: rgb(1, 2, 63);
}

/* Style the tab */
.tab, .tab2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button, .tab2 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover,.tab2 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active, .tab2 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent, .tabcontent2 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
    animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}